html {
	text-align: center;
}

li {
	list-style: none;
	font-family: 'Gloria Hallelujah', sans;
}

h1 {
	font-size: 3em;
	font-family: 'Michroma', sans;
	color: DarkOliveGreen;
}

.reaperPic {
	width: 2fr;
	height: 3fr;
}
